DJANGO_SECRET_KEY=<insert secret key here>
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_NAME=weather_forecasting_db
DATABASE_USER=postgres
DATABASE_PASSWORD=replace-me
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433
